    
    
    /* * {
        border: 2px solid red;
    } */

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The BACKGROUND image used */
    background: url("../images/PlainStarWars.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */ /* WORKS */
    background-repeat: no-repeat repeat;
    background-size: cover;
    
    /* My previous find */
    /* background-repeat:repeat-y; */
    /* background-size: 100%; */
}

#game-title {
    font-family: 'Bungee', cursive;
    text-align:right;
    font-weight: 900;
    font-size: 50px;
    font-style: italic;
    /* text-decoration: overline; */
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: darkgoldenrod;
    text-align:right;
    max-height: 100px;
    padding-right: 200px;
    margin: 0px;
    margin-top: -80px;
}

#title-end {
    color:darkgoldenrod;
    font-style: italic;
}

/* NEW INFO: Only ONE location per ID, otherwise make it a class */
.button-name {
    margin: 0px;
}

.button-hp {
    margin: 0px;
}

.choice-text {
    clear: both;
    font-family: 'Bungee', cursive;
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
}

.button-attack {
    font-family: 'Bungee', cursive !Important;
    text-align: center;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    color: white;
    margin-top: 0px;
    padding: 0px;
    background-color: red;
}


/****************/
/* Page Buttons */
/****************/
.button-char {
    border:3px green solid;
    float: left;
    block-size: 120px;
}

.pick-me, .player-picked {
    background-color: white;
    display: block;
}

.pick-enemy {
    background-color: red;
    display: none;
}

.pick-defender, .defender-picked {
    background-color: black;
    color: white;
    display: none;
}

#arrow {
    display: none;
    padding: 0px;
    /* float: left; */
} 

p {
    margin: 0px;
}

button {
    font-family: 'Bungee', cursive;
    line-height: 20px;
}
/* #obiwan-k {
    border: solid 15px white;
} 

#luke-s {
    border: solid 15px white;
}

#d-sidious {
    border: solid 15px white;
}

#d-maul {
    border: solid 15px white;
} */

/**** Enemies ***/
/* #e-obiwan-k {
    border: solid 15px red;
}

#e-luke-s {
    border: solid 15px red;
}

#e-d-sidious {
    border: solid 15px red;
}

#e-d-maul {
    border: solid 15px red;
} */





